GEMINI_API_KEY=AIzaSyDy9d1-OBRNrQSYUZ9oW6vpfWHbZSpEFSE

# Cloudinary Configuration (for video cloud storage)
CLOUDINARY_CLOUD_NAME=942585472296932e
CLOUDINARY_API_KEY=942585472296932
CLOUDINARY_API_SECRET=uFAHY8_zkMk2O-ufD00-C-bdzJA